@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* IMG LOGO */
img {
    height: 50px;
}

/* SISTEMA DEL NAV-BAR */
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #242526;
}

nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.wrapper .nav-links{
  display: inline-flex;
}

.nav-links li{
  list-style: none;
}

.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.nav-links li a:hover{
  background: #3A3B3C;
}

.nav-links .mobile-item{
  display: none;
}

.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.5s ease;
  top: 55px;
  opacity: 1;
  visibility: visible;
}

.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}

.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}

.row .mega-links li{
  padding: 0 20px;
}

.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}

.row .mega-links li a:hover{
  color: #f2f2f2;
}

.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}

nav input{
  display: none;
}

/* SECCION HEADER */
.home-5-bg {
    background: #1E90FF;
    position: relative;
    background-size: cover;
    height: 50vh;
    background-position: center center;
}

.section {
    position: relative;
}

.home-5-content {
  z-index: 1;
  position: relative;
}

.bg-overlay {
    background-color: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home-center {
    display: table;
    width: 100%;
    height: 100%;
}

.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}

.home-5-content {
    z-index: 1;
    position: relative;
}

.text-white-70 {
    color: rgba(255, 255, 255, 0.8);
}

.f-15 {
    font-size: 15px;
}

.home-5-bg #particles-js {
    z-index: 1!important;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* SECCION TEXTO */
h1.text-center {
  margin: 6% auto;
  font-family: inherit;
  filter: drop-shadow(0px 10px 5px darkgray);
}

p.hijo-h1 {
    text-align: center;
    font-size: larger;
    font-family: 'Poppins';
    filter: drop-shadow(0px 0px 0px black);
    padding: 3%;
    box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.47);
    text-shadow: 0px 0px 1px black;
    margin: 5%;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid white;
    background: white;
    color: black;
    transition: all 0.1s ease;
}
  
.hijo-h1:hover {
  background: linear-gradient(145deg, #3f3da9, #2c76ed, #3f3da9);
  color: white;
}

/* SECCION CARRUSEL */
button.carousel-control-next, button.carousel-control-prev {
    background: darkgray;
}

div.carousel-item, div.carousel-item.active {
    text-align: -webkit-center !important;
}

img.d-block.w-100 {
    height: 50%;
    width: 55% !important;
}

span.carousel-control-next-icon, span.carousel-control-prev-icon {
  padding: 10%;
}

/* SECCION CARDS INFO */
section#sec.cards {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: 'Ubuntu', sans-serif;
}

.box{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.our-services{
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 60px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20,27,202,.17)
}

.our-services .icon{
    margin-bottom: -21px;
    transform: translateY(-50%);
    text-align: center
}

.our-services:hover h4, .our-services:hover p{
    color: #fff
}

.ddos:hover{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
}

.malware:hover{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
}

.phishing:hover{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)
}

.inyeccion:hover{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
}

.scripting:hover{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%)
}

.botnets:hover{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
}

h1.titulo-tipos {
    margin: 3% auto;
    font-family: inherit;
    filter: drop-shadow(0px 10px 5px darkgray);
}

/*  SECCION TIMELINE  */
.main-timeline2 {
  overflow: hidden;
  position: relative
}

.main-timeline2:before {
  content: "";
  width: 6px;
  height: 70%;
  background: #333;
  position: absolute;
  top: 66px;
  left: 50%;
  transform: translateX(-50%)
}

.main-timeline2 .timeline {
  width: 50%;
  padding-left: 100px;
  float: right;
  position: relative
}

.main-timeline2 .timeline:before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 5px solid #333;
  position: absolute;
  left: -10px
}

.main-timeline2 .year {
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 100px;
  border-radius: 50%;
  border: 10px solid #f54957;
  font-size: 30px;
  color: #f54957;
  text-align: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .4);
  position: absolute;
  top: 15px;
  left: 10px;
}

.main-timeline2 .year:before {
  content: "";
  border-left: 20px solid #f54957;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  bottom: -13px;
  right: 0;
  transform: rotate(45deg)
}

.main-timeline2 .inner-content {
  padding: 22px 35px;
}

.main-timeline2 .title {
  font-size: 24px;
  color: #f54957;
  text-transform: uppercase;
  margin: 0 0 5px;
  text-align: center;
}

.main-timeline2 .description {
  font-size: 16px;
  color: black;
  margin: 0 0 5px;
  text-align: center;
}

.main-timeline2 .timeline:nth-child(2n) {
  padding: 0 100px 0 0
}

.main-timeline2 .timeline:nth-child(2n) .timeline-content:before,
.main-timeline2 .timeline:nth-child(2n) .year,
.main-timeline2 .timeline:nth-child(2n):before {
  left: auto;
  right: -10px
}

.main-timeline2 .timeline:nth-child(2n) .timeline-content {
  padding: 0 150px 0 0
}

.main-timeline2 .timeline:nth-child(2n) .timeline-content:before {
  right: -92px
}

.main-timeline2 .timeline:nth-child(2n) .year {
  right: 10px;
}

.main-timeline2 .timeline:nth-child(2n) .year:before {
  right: auto;
  left: 0;
  border-left: none;
  border-right: 20px solid #f54957;
  transform: rotate(-45deg)
}

.main-timeline2 .timeline:nth-child(2) {
  margin-top: 110px
}

.main-timeline2 .timeline:nth-child(odd) {
  margin: -110px 0 0
}

.main-timeline2 .timeline:nth-child(even) {
  margin-bottom: 80px
}

.main-timeline2 .timeline:first-child,
.main-timeline2 .timeline:last-child:nth-child(even) {
  margin: 0
}

.main-timeline2 .timeline:nth-child(2n) .year {
  border-color: #1ebad0;
  color: #1ebad0
}

.main-timeline2 .timeline:nth-child(2) .year:before {
  border-right-color: #1ebad0
}

.main-timeline2 .timeline:nth-child(2n) .title {
  color: #1ebad0;
  text-align: center;
}

.main-timeline2 .timeline:nth-child(3n) .year {
  border-color: #7cba01;
  color: #7cba01
}

.main-timeline2 .timeline:nth-child(3) .year:before {
  border-left-color: #7cba01
}

.main-timeline2 .timeline:nth-child(3n) .title {
  color: #7cba01;
  text-align: center;
}

.main-timeline2 .timeline:nth-child(4n) .year {
  border-color: #f8781f;
  color: #f8781f
}

.main-timeline2 .timeline:nth-child(4) .year:before {
  border-right-color: #f8781f
}

.main-timeline2 .timeline:nth-child(4n) .title {
  color: #f8781f;
  text-align: center;
}

@media only screen and (max-width:1200px) {
  .main-timeline2 .year {
      top: 50%;
      transform: translateY(-50%)
  }
}

@media only screen and (max-width:990px) {
  .main-timeline2 .timeline {
      padding-left: 75px
  }
  .main-timeline2 .timeline:nth-child(2n) {
      padding: 0 75px 0 0
  }
  .main-timeline2 .timeline-content {
      padding-left: 130px
  }
  .main-timeline2 .timeline:nth-child(2n) .timeline-content {
      padding: 0 130px 0 0
  }
  .main-timeline2 .timeline-content:before {
      width: 68px;
      left: -68px
  }
  .main-timeline2 .timeline:nth-child(2n) .timeline-content:before {
      right: -68px
  }
}

@media only screen and (max-width:767px) {
  .main-timeline2 {
      overflow: visible
  }
  .main-timeline2:before {
      height: 100%;
      top: 0;
      left: 0;
      transform: translateX(0)
  }
  .main-timeline2 .timeline:before,
  .main-timeline2 .timeline:nth-child(2n):before {
      top: 60px;
      left: -9px;
      transform: translateX(0)
  }
  .main-timeline2 .timeline,
  .main-timeline2 .timeline:nth-child(even),
  .main-timeline2 .timeline:nth-child(odd) {
      width: 100%;
      float: none;
      text-align: center;
      padding: 0;
      margin: 0 0 10px
  }
  .main-timeline2 .timeline-content,
  .main-timeline2 .timeline:nth-child(2n) .timeline-content {
      padding: 0
  }
  .main-timeline2 .timeline-content:before,
  .main-timeline2 .timeline:nth-child(2n) .timeline-content:before {
      display: none
  }
  .main-timeline2 .timeline:nth-child(2n) .year,
  .main-timeline2 .year {
      position: relative;
      transform: translateY(0)
  }
  .main-timeline2 .timeline:nth-child(2n) .year:before,
  .main-timeline2 .year:before {
      border: none;
      border-right: 20px solid #f54957;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      top: 50%;
      left: -23px;
      bottom: auto;
      right: auto;
      transform: rotate(0)
  }
  .main-timeline2 .timeline:nth-child(2n) .year:before {
      border-right-color: #1ebad0
  }
  .main-timeline2 .timeline:nth-child(3n) .year:before {
      border-right-color: #7cba01
  }
  .main-timeline2 .timeline:nth-child(4n) .year:before {
      border-right-color: #f8781f
  }
  .main-timeline2 .inner-content {
      padding: 10px;
  }
}

h3.card-title {
    text-align: center;
    margin: 5%;
    padding: 3%;
    font-family: inherit;
    filter: drop-shadow(0px 10px 5px darkgray);
    font-size: 2.5rem;
}

/* SEC FOOTER */
.footer {
    background:#232a34;
    padding-bottom: 50px;
    padding-top: 70px;
    margin-top: 5%;
}

.footer_menu {
    margin-bottom: 45px;
}

.footer_menu ul {
    list-style: none;
    text-align: center;
}

.footer_menu ul li{
  display: inline-block;
}

.footer_menu ul li a {
    color:#fff;
    padding: 0 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.footer_menu ul li a:hover{
  color:#554c86;
}

/*START FOOTER SOCIAL DESIGN*/
.footer_profile{
  margin-bottom:40px;
}

.footer_profile ul{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.footer_profile ul li{
    display: inline-block;
}

@media only screen and (max-width:480px) { 
.footer_profile ul li
{
  margin:2px;
}
}

.footer_profile ul li a img{
  width:60px;
}

.footer_profile ul li a {
  margin-top: 15px;
  width: 50px;
  height: 40px;
  display: block;
  text-align: center;
  margin-right: 20px;
  border-radius: 50%;
  line-height: 40px;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer_copyright {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
}